* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

:root {
    --azul-escuro: #0a071d;
    --creme: #f8f68e;
    --branco: #f5f5f5; 
    --amarelo: #fae900;
}



.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    font-size: 100%;
    background-color: var(--azul-escuro);
}

.card-login {
    border-radius: 20px;
    padding: 1.5vw;
    background-color: var(--creme);
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.logo-card {
    width: 30%;
    margin: 1vh;
    align-self: center;
}

.titulo-card {
    font-size: 2rem;
    text-align: center;
    margin: 1vh;
    color: var(--azul-escuro);
    font-weight: 400;
    border-bottom: solid 1px var(--azul-escuro);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-content: space-between;   
}

.descricao-input {
    color: var(--azul-escuro);
    font-weight: 400;
    font-size: 1.5rem;
}

.input {
    background-color: var(--branco);
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 10px;
    margin: 0.5vh;
    width: 90%;
    height: 5vh;
    border-color: var(--azul-escuro);
}

.email {
    background-image: url(img/user.svg);
    background-repeat: no-repeat;
    background-position: 1.25vw center;
    background-size: 1.25rem;
}

.senha {
    background-image: url(img/key.svg);
    background-repeat: no-repeat;
    background-position: 1.25vw center;
    background-size: 1.25rem;
}

.esqueci {
    margin: 1vw;
    align-self: center;
    color: var(--azul-escuro);
    font-size: 3vh;
}

.botoes-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 10vw;
}

.botao {
    align-items: center;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    color: var(--azul-escuro);
    background-color: var(--branco);
    border-color: var(--azul-escuro);
    box-shadow: 3px 1px 1px var(--azul-escuro);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.botao:hover {
    color: var(--amarelo);
    background-color: var(--azul-escuro);
}

.cadastro {
    margin-top: 4vw;
    text-align: center;
    font-size: 3vh;
    color: var(--azul-escuro);
    border: solid 2px var(--azul-escuro);
}
.cadastro:hover {
    color: var(--amarelo);
    background-color: var(--azul-escuro);
}

.apresentacao {
    display: none;
}

@media screen and (min-width: 426px) {
    .corpo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card-login{
        width: 50%;
        align-self: flex-start;
    }
    .apresentacao {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .titulo-pagina {
        margin-left: 2vw;
        text-align: center;
        font-size: 8vw;
        color: var(--amarelo);
    }
    .logo-pagina {
        margin: 3vw;
    }
}
