* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

:root {
    --azul-escuro: #0a071d;
    --creme: #f8f68e;
    --branco: #f5f5f5; 
    --amarelo: #fae900;
}



body {
    font-size: 100%;
    background-color: var(--azul-escuro);
}

.cabecalho {
    padding: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    color: var(--amarelo);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.card-login {
    border-radius: 20px;
    background-color: var(--creme);
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.descricao-input {
    color: var(--azul-escuro);
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 1vw;
}

.input {
    text-align: center;
    border-radius: 10px;
    padding-bottom: 0.75vh;
    margin: 2vh;
    width: 30vw;
}