* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

:root {
    --azul-escuro: #0a071d;
    --creme: #f8f68e;
    --branco: #f5f5f5; 
    --amarelo: #fae900;
}



body {
    font-size: 100%;
    background-color: var(--azul-escuro);
}

.cabecalho {
    padding: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    color: var(--amarelo);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.card-login {
    border-radius: 20px;
    padding: 1.5vw;
    background-color: var(--creme);
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

.titulo-card {
    color: var(--azul-escuro);
    padding-left: 1vw;
    font-weight: 400;
    font-size: 3rem;
    align-self: center;
}

.descricao-input {
    color: var(--azul-escuro);
    font-weight: 400;
    font-size: 1.5rem;
}

.input {
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 10px;
    margin: 2vh;
    width: 35vw;
    height: 5vh;
    border-color: var(--amarelo);
}

.email {
    background-image: url(user.svg);
    background-repeat: no-repeat;
    background-position: 10% center;
}

.senha {
    background-image: url(key.svg);
    background-repeat: no-repeat;
    background-position: 10% center;
}